<div loading-bar="vm.incidentsLoading" loading-bar-title="Загрузка инцидентов" class="incidentsList">
    <div class="filter">
        <input type="text"
               class="form-control"
               ng-model="search"
               ng-change="vm.searchFilter()"
               placeholder="Поиск">
    </div>

    <div class="filterSelect">
        <select class="form-control" ng-options="key as value for (key, value) in vm.incidentsFilters"
                ng-model="vm.selectedIncidentsFilter"
                ng-change="vm.incidentsFilterChanged(vm.selectedIncidentsFilter)">
            <option value="" selected>Все</option>
        </select>
    </div>

    <incident ng-repeat="incident in vm.incidents | filter: search"
              incident-model="incident"
              ng-if="vm.incidents.length">
    </incident>
</div>